<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

{#    TODO: add errors handling#}
{#    {%- block form_errors -%}#}
{#        {%- if errors|length > 0 -%}#}
{#            <ul>#}
{#                {%- for error in errors -%}#}
{#                    <li class="{{ error.cause.constraint.payload.severity ?? '' }}">{{ error.message }}</li>#}
{#                {%- endfor -%}#}
{#            </ul>#}
{#        {%- endif -%}#}
{#    {%- endblock form_errors -%}#}

    <body>
        {% block body %}{% endblock %}
    </body>

</html>
