{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <h1>Forgot password</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="submit" class="btn">Submit</button>
    {{ form_end(form) }}
{% endblock %}
