{% extends 'base.html.twig' %}

{% block title %}Login Link Sent{% endblock %}

{% block body %}
    <h1>Login Link Sent</h1>
    <p>A login link has been sent to your email address {{ user_email }}. Please check your inbox and click on the link to log in.</p>
{% endblock %}